.footer-bg {
  background: var(--cor-12);
}

.footer {
  display: grid;
  gap: 4rem;
  grid-template-columns: 3fr 5fr 4fr;
  /* padding: 6rem 0 3.2rem 0; */
  padding-top: 6rem;
  padding-bottom: 6rem;
}

.footer h3 {
  margin-bottom: 3.2rem;
}

.footer li {
  margin-bottom: 1.4rem;

}

.footer-contatos ul {
  margin-bottom: 3.2rem;
}


.footer-contatos ul li:nth-child(2) {
  padding-bottom: 4.5rem;
}

.footer-redes ul {
  display: flex;
  gap: 3.2rem;
}


.footer a:hover {
 color: var(--cor-0);
}

.footer-copy {
grid-column: 1/-1;
}


@media (max-width: 800px) {
  .footer > a {
    display: none;
  }

  .footer {
    grid-template-columns: 1fr 1fr;


  }
}

@media (max-width: 600px) {

  .footer {
    grid-template-columns: 1fr;
  }

  .footer-copy {
    margin-top: 0px;
    }

}
